body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#fff;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  left:5%;
  position: absolute;
  font-weight: normal;
  color: DodgerBlue;
}
.box_heart{
  position: relative;
  width: 240px;
  height:220px;

}
.D_heart {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotate1 10s infinite linear;
}

.heart-shape{
 margin: 10px;
 position: relative;
 float: right;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: DodgerBlue;
}
.heart-shape:before,
.heart-shape:after{
  position: absolute;
  width: 100px;
  height: 100px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: DodgerBlue;
}
.heart-shape:before{
  bottom: 0px;
  left: -50px;
}
.heart-shape:after{
  top: -50px;
  right: 0px;
}

.heart-shape2{
 margin: 10px;
 position: relative;
 float: left;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  background-color: DodgerBlue;
}
.heart-shape2:before,
.heart-shape2:after{
  position: absolute;
  width: 100px;
  height: 100px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: DodgerBlue;
}
.heart-shape2:before{
  bottom: 0px;
  left: -50px;
}
.heart-shape2:after{
  top: -50px;
  right: 0px;
}

.heart-shape3{
 margin: 10px;
 position: relative;
 float: left;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-color: DodgerBlue;
}
.heart-shape3:before,
.heart-shape3:after{
  position: absolute;
  width: 100px;
  height: 100px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: DodgerBlue;
}
.heart-shape3:before{
  bottom: 0px;
  left: -50px;
}
.heart-shape3:after{
  top: -50px;
  right: 0px;
}

.heart-shape4{
 margin: 10px;
 position: relative;
 float: right;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  background-color: DodgerBlue;
}
.heart-shape4:before,
.heart-shape4:after{
  position: absolute;
  width: 100px;
  height: 100px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: DodgerBlue;
}
.heart-shape4:before{
  bottom: 0px;
  left: -50px;
}
.heart-shape4:after{
  top: -50px;
  right: 0px;
}

.Circle-shape1{
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 10%;
    left: 12%;
    width: 180px;  /*60%*/
    height: 180px;
    background:#fff;
    border-radius: 360px;
    display:grid;
  }
.Circle-shape2{
    position: absolute;
    align-items: center;
    justify-content: center;
    margin: 5%;
    width: 160px;
    height: 160px;
    background:DodgerBlue;
    border-radius: 360px;
    display:grid;
  }
.Circle-shape3{
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 3%;
    left: 16%;
    width: 140px;
    height: 150px;
    background:#fff;
    border-radius: 360px;
    display:grid;
  }


@keyframes rotate1 {
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}
